<div id="new-ticket-container">
  <div id="new-ticket-container-sub" >
    <%= form_with(model: ticket, class: "ticket-form") do |form| %>
      <% if ticket.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

          <ul>
            <% ticket.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <table class="new-ticket-table">
        <thead>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td colspan="1">
              <div class="new-ticket">
                <%= form.label :ticket_to, style: "display: block" %>
                <%= form.text_field :ticket_to %>
              </div>
            </td>
            <td colspan="1">
              <div class="new-ticket">
                <%= form.label :ticket_from, style: "display: block" %>
                <%= form.text_field :ticket_from %>
              </div>
            </td>
          <tr>
            <td colspan="2">
              <div id="ticket-description" class="new-ticket">
                <%= form.label :description, style: "display: block" %>
                <%= form.text_area :description %>
              </div>
            </td>
          </tr>


          <tr>
            <td>
              <div class="new-ticket">
                <%= form.label :cbc_amount, "Charity based currency amount:", style: "display: block" %>
                <%= form.number_field :cbc_amount %>
              </div>
            </td>
            <td class="empty">
            </td>
          </tr>
          <tr>
            <td>
              <div class="new-ticket">
                <%= form.label :creator_id, style: "display: block" %>
                <%= form.number_field :creator_id %>
              </div>
            </td>
            <td class="empty">
            </td>
          </tr>

        <!--
          <div>
            <%= form.label :rank, style: "display: block" %>
            <%= form.number_field :rank %>
          </div>
        <tr>
          <td colspan="1">
            <div class="new-ticket">
              <%= form.label :category_id, style: "display: block" %>
              <%= form.number_field :category_id %>
            </div>
          </td>
        </tr>
        -->

        </tbody>
      <div>
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>
