<div id="show-ticket-container">
  <table id="<%= dom_id ticket %>" class="show-ticket">
    <tr>
      <td class="ticket-description">
        <strong>Description:</strong>
        <%= ticket.description %>
      <td>
    </tr>
    <tr>
      <td class="ticket-to">
        <strong>Ticket to:</strong>
        <%= ticket.ticket_to %>
      </td>
      <td>
        <strong>Ticket from:</strong>
        <%= ticket.ticket_from %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Cbc amount:</strong>
        <%= ticket.cbc_amount %>
      </td>
    <tr>
      <td>
        <strong>Creator:</strong>
        <%= ticket.creator.display_name %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Rank:</strong>
        <%= ticket.rank %>
      </td>
      <td>
        <strong>Category:</strong>
        <%= ticket.category_id %>
      </td>
    </tr>
  </table>
</div>
