<div id="<%= dom_id ticket %>">
  <p>
    <strong>Ticket to:</strong>
    <%= ticket.ticket_to %>
  </p>

  <p>
    <strong>Ticket from:</strong>
    <%= ticket.ticket_from %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ticket.description %>
  </p>

  <p>
    <strong>Cbc amount:</strong>
    <%= ticket.cbc_amount %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= ticket.creator_id %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= ticket.rank %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= ticket.category_id %>
  </p>

</div>
