<p style="color: green"><%= notice %></p>

<h1>Tickets</h1>

<div id="tickets">
  <% i = 1 %>
  <% @tickets.each do |ticket| %>
    <%= render ticket, :current_ticket_count => i %>
    <% i = i + 1 %>
    <p style="text-align: right;">
      <%= link_to "Show this ticket", ticket %>
    </p>
    <%= button_to "BCC: this ticket", ticket_bcc_path(ticket), method: :put, :class => "bcc-ticket" %>
    <div class="ticket-seperator">
      &nbsp;
    </div>
  <% end %>
</div>

<%= link_to "New ticket", new_ticket_path %>
