<p style="color: green"><%= notice %></p>

<%= render @ticket, :current_ticket_count => @ticket.id %>
<div id="new_based_on_container" >
  <%= button_to "Make a ticket based on this ticket", edit_ticket_path(@ticket), :method => :get, :class => 'btn' %> 

  <!--  <%= button_to "Destroy this ticket", @ticket, method: :delete, :class => "delete-ticket" %> -->
</div>
<%= button_to "Leave a comment", new_ticket_comment_path(:ticket_id => @ticket.id), :method => :get, :class => 'btn', :params => {:ticket_id => @ticket.id } %>
<h1>Comments</h1>
<% i = 0 %>
<div id="ticket_comments_container">
  <% for ticket_comment in @ticket_comments do %>
    <%= render ticket_comment, :partial => 'ticket_comment/_ticket_comment', :current_comment_count => i %>
    <% i = i + 1 %>
  <% end %>
</div>
