<div id="tallyto">
  <h1>Total tally for:</h1>
  <%= @ticket.ticket_to %>
  <p>
  The running sum for tickets that have been assigned to that person is:
    <% if @tally.to_f < 1 %>
      <span id="tally_amount"><%= Float::INFINITY  %></span>
    <% else %>
      <span id="tally_amount"><%= number_to_currency(@tally) %></span>
    <% end %>
  </p>
  <br/>
  <br/>
</div>
<h2>From tickets</h2>

<div id="tickets">
  <% @tickets.each do |ticket| %>
    <%= render ticket, :current_ticket_count => ticket.id %>
    <div class="bcc_btn_container">
      <%= button_to "BCC: this ticket", ticket_bcc_path(ticket), method: :put, :class => "bcc_ticket" %>
    </div>
    <div class="show_comment_container">
      <%= button_to "Show comments", ticket_path(ticket), :method => :get, :class => 'btn' %>
    </div>
    <div class="ticket-seperator">
      &nbsp;
    </div>
  <% end %>
</div>
<br/>
<div id="paginate_links_container">
  <%= will_paginate @tickets %>
</div>
