<!DOCTYPE html>
<html>
  <head>
    <title>Ticketme</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <a id="ticket-devil-logo-link" href="<%= root_path %>">
      <div id="ticket-devil-logo">
        Ticketdevil
      </div>
    </a>
    <div id="ticket-devil-tail">
      <img src="devil_tail.png" width="4%" height="4%" />
    </div>
    <div id="body-container">
      <%= yield %>
    </div>
  </body>
</html>
