<!DOCTYPE html>
<html>
  <head>
    <title>Ticketdevil</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="wallpaper">
      &nbsp;
    </div>
    <div id="menu">
      <div id="ticket-devil-logo" class="menu">
          <a id="ticket-devil-logo-link" href="<%= root_path %>">
          Ticketdevil
          </a>
      </div>
        <!-- <div id="ticket-devil-tail">
          <img src="/devil_tail_rt.png" width="188" height="195" />
        </div> -->
      
      <div id="menu-new-ticket-link" class="menu egothic">
        <%= link_to "New ticket", new_ticket_path %>
      </div>

      <div id="menu-search-link" class="menu egothic">
        <%= link_to "Search", { :action => 'show', :controller => '/search', :search_params => 'anonymous', :page => 1} %>
      </div>
      
      <div id="menu-browse-link" class="menu egothic">
        <%= link_to "Browse", root_path %>
      </div>

      <div id="menu-login" class="menu egothic">
        <% if user_signed_in? %>
          <%= button_to "Log Out", destroy_user_session_path, :method => 'delete' %>
        <% else %>
          <%= link_to "Log in", new_user_session_path %>
        <% end %>
      </div>

    </div> <!-- end menu id div -->

    <div id="body-container">
      <%= yield %>
    </div>
  </body>
</html>
